<div>
    <div class="chatroom_header">
        <h2>Chat Room: {{ chatroom.name }}</h2>
        <a role="button" ng-click="leave()">Leave</a>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div scroll-glue class="message_list">
                <ul>
                    <li class="alert old_msg" ng-repeat="msg in chatroom.chatHistory" >
                        <p class="nickname_text">{{ msg.nickname }}</p>
                        <p>{{ msg.message }}</p>
                    </li>
                    <li class="alert msg" ng-repeat="msg in msgList" ng-class="getType($index, msgList)">
                        <p class="nickname_text">{{ msg.nickname }}</p>
                        <p>{{ msg.message }}</p>
                    </li>
                </ul>
            </div>
            <div>
                <form class="form-inline" name="postMsg" ng-submit="send(msgContent)">
                    <input class="form-control" type="text" placeholder="what's on your mind..." required ng-model="msgContent" />
                    <input class="btn btn-primary" type="submit" value="Send" />
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>participants ({{ participants.length }}):</h4>
            <ul>
                <li ng-repeat="participant in participants | orderBy:participant ">
                    {{ participant }}
                </li>
            </ul>
        </div>
    </div>

</div>