<div>
    <h3>Login {{ test }}</h3>
    <form name="login" ng-submit="loginUser(user)">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Email" required ng-model="user.email" />
            <input class="form-control" type="password" placeholder="Password" required ng-model="user.password" />
            <input class="btn btn-primary" type="submit" value="Login" />
            <span class="errorMsg">{{ loginError }}</span>
        </div>
    </form>
    <p>Don't have an account? <a href="#/signup">Sign Up</a></p>
</div>