<div>
    <h3>Sign Up</h3>
    <form name="signup" ng-submit="signupUser(user)">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Choose a nickname" required ng-model="user.nickname" />
            <input class="form-control" type="text" placeholder="Email" required ng-model="user.email" />
            <input class="form-control" type="password" placeholder="Password" required ng-model="user.password" />
            <input class="btn btn-primary" type="submit" value="Sign Up" />
            <span class="errorMsg">{{ signupError }}</span>
        </div>
    </form>
    <p>Already have an account? <a href="#/login">Login</a></p>
</div>